* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  color: #662E9B;
  font-weight: 900;
}

h2 {
  color: #F15025;
  font-weight: 900;
}

.success {
  color: #618B25;
  background: lightgrey;
  font-size: 16px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.error {
  color: #ED254E;
  background: lightgrey;
  font-size: 16px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}