* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  color: #662E9B;
  font-weight: 900;
}

h2 {
  color: #ED254E;
  font-weight: 900;
}

.success {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}